
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title h1{
  padding: 0;
  margin: 0;
  text-align: center;
}

.canvas {
    display: grid;
    height: 500px;
    width: 500px;
    border: solid 3px black;
  }

  .canvas div {
    box-sizing: border-box;
  }

  .info{
    margin-top: 10px;
    text-align: center;
  }

  .slider-title{
    font-weight: bold;
  }

  .slider-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
  }

  .canvas div:hover{
    background-color: black;
  }