@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

*{
  background-color: antiquewhite;
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 25px;
}

.title h1{
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 60px;
}

.canvas {
    display: grid;
    height: 500px;
    width: 500px;
    border: solid 3px black;
  }

  .canvas div {
    box-sizing: border-box;
  }

  .canvas div:hover{
    background-color: black;
  }

  .menu{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
  }

  .info{
    margin-top: 10px;
    text-align: center;
  }

  .slider-title{
    font-weight: bold;
  }

  .colour-choice{
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .colour-button-1{
    display: flex;
    margin-top: 25px;
    scale: 1.2;
    flex: wrap;
    width: 250px;
    justify-content: space-between;
  }

  .colour-button-2{
    display: flex;
    margin-top: 25px;
    scale: 1.2;
    flex: wrap;
    width: 250px;
    justify-content: space-between;
  }
 
  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .slider-menu{
    text-align: right;
  }
  
button{
  width: 62px;
  height: 40px;
  border: 2px solid black;
  padding: 0;
}

#red-btn{
  background-color: red;
}
#green-btn{
  background-color: green;
}
#blue-btn{
  background-color: blue;
}
#black-btn{
  background-color:  black;
}
#white-btn{
  background-color: white;
}
#rbow-btn{
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}